.card__container {
  margin: 10vh auto;
  box-shadow: 10px 10px 41px #cccccc, -10px -10px 41px #f4f4f4;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 10px 10px 21px #acacac, -10px -10px 21px #ffffff;
  height: 50vh;
  width: min(600px, 85vw);
}

.card {
  border-radius: 20px;
  height: 50vh;
  width: min(600px, 85vw);
  padding: 20px;
  position: relative;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.swipe {
  position: absolute;
}
