.card__container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.card {
  position: relative;
  color: #fff;
  width: min(600px, 85vw);
  height: 50vh;
  padding: 20px;
  box-shadow: 0 20px 50px rgb(0 0 0 / 30%);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  position: absolute;
  margin: 10px;
  bottom: 0;
}

.swipe {
  position: absolute;
}
